@import "src/assets/custome-css/global-variable.scss";

@mixin  headerleft-righttTop {
    position: relative;
    top: 15px;
}

// $mobileTable : "(max-width: 992px)";

header{
    box-shadow: unset;
    padding: 0px;
    @include mobileToLeptop{
        box-shadow: 0 1px 2px 0 rgba(148, 150, 159, 0.3);
        padding: 2px 0px 5px 0px;
    }
    .row_Top_header{
        @include eledisplay_flex;
    }
    .header_search{
        @include headerleft-righttTop;
        flex: 0 0 33%;
        display: block;
        @include mobileToLeptop{
            display: none;
        }
        .seachIconinput{
                @include eledisplay_flex;
                border: 1px solid $bgF5F5F6;
            a{
               @include color_blackFont18;
               width: $widthcstm + 26px;
               text-align: center;
               background: $bgF5F5F6;
               padding: 6px 0px; 
            }
            input{
                border: 0;
                width: 100%;
                background: #F5F5F6;
                color: $input_color; 
                font-size:$Fontsize14;
                &:focus{
                    @include inputTextareacomCss;
                }
            }
          
        }
    }
    /* end for header search input and icon */
    .header_mid_logo{
        text-align: center;
        flex: 0 0 33%;
        @include mobileToLeptop{
            flex: unset;
        }
        @include mobile {
            flex: unset;
        }
        img{
            position: relative;
            top: 0px;
            width: 6rem;
            @include mobileToLeptop {
                top: 0px;
                width: 4rem;
            }
        }
    }
    /* end for header middle logo */
    .header_right_avtar_menu{
        @include headerleft-righttTop;
        flex: 1;
        @include mobile {
            flex: 1;
        }
        .header_account_menu{
            ul{
                @include eledisplay_flex;
                justify-content: flex-end;

                li{
                    margin: 0 0 0 30px;
                    @include mobileToLgmobile{
                        margin: 0 0 0 12px;
                    }
                    
                    .hidden-tablet{
                        display: inline;
                        @include mobileToLeptop{
                            display: none;
                        }

                    }
                   
                }
                li i{
                    padding: 0px 0px 0px 8px;
                }

                .searchBTnMobile{
                    display: none;
                    @include mobileToLeptop{
                        display: block;
                    }
                    button{
                        @include inputTextareacomCss;
                        background: unset;
                        border: 0;
                        padding: 0px 8px 0 0px;
                        cursor: pointer;
                    }
                    
                    .mobileview_searchHeaer{
                        position: fixed;
                        left: 0;
                        right: 0;
                        width: 100%;
                        top: 0;
                        box-shadow: 0 1px 2px 0 rgba(148,150,159,.3);
                        button{
                            position: absolute;
                            left: 6px;
                            top: 14px;
                            font-size: 22px;
                        }
                        input{
                            @include inputTextareacomCss;
                            width: 100%;
                            height: 60px;
                            border: 0;
                            padding: 0rem 3rem;
                        }
                        span{
                            position: absolute;
                            right: 14px;
                            top: 10px;
                            font-size: 22px;
                            color: #ff356e;
                        }
                    }
                }
                
            }
        }
    }

    /* end for header right side menu */
    /* start side navbar responsve button */
    .toggle_sideNabar{
        @include Btn_noProperty;
        display: none;
        top: 3px;
        position: relative;
        margin-right: 8px;

       @include mobileToLeptop{
            display: inline-block;
            &:hover,&:focus{
                color: #d6d6d6
            }
            div{
                width: 25px;
                height: 2px;
                background-color: #000;
                margin: 6px 0;
                transition: 0.3s;
            }
       }
        
    }
    /* end side navbar responsve button */
}

/* end top header scss */

/* start navbar scss */

nav{
    background-color: #fff;
    height: 50px;
    box-shadow: 0 1px 2px 0 rgba(148, 150, 159, 0.3);
    border-top: 1px solid rgba(148, 150, 159, 0.3);
    margin: 7px 0px 0px 0px;
    @include mobileToLeptop{
        margin: 0px 0px 0px 0px;
    }
    @include mobileToLeptop{
        background-color: unset;
        height: 0;
        
    }
    .navigation-brand{
        line-height: 50px;
        margin-left: 20px;
        color: white;
        font-weight: bold;
        font-size: 18px;
    }

    .navigation-list{
        @include eledisplay_flex;
        justify-content: center;
        height: 50px;
        align-items: center;
        @include mobileToLeptop{
            display: block;
        }
        li{
            display: inline-block;
            margin:0 30px 0 0px;
            font-size: 16px;
            line-height: 50px;
            cursor: pointer;
           
            a{
                @include ancorTag;
                font-size: $Fontsize14 + 2px;
                color: $color_text;
                text-transform: uppercase;
                font-weight: 500;

                // @include mobileToLeptop{
                //     color: #fff;
                // }
                
            }
        }

        .uti_mainLi{
            i{
                float: right;
                display: none;
                padding-right: 10px;
                @include mobileToLeptop{
                    display: block;
                }
            }
            &:hover .menu-item-container{
                visibility: visible;
                opacity: 1;
                transition:  all 0.3s ease-out;

                @include mobileToLeptop{
                    display: block;
                }
            }

            &:hover .mainmenu_overlay{
                visibility: visible;
            }
            .mainmenu_overlay{
                position: fixed;
                top: 8rem;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.3);
                z-index: 2;
                visibility: hidden;
                display: block;

                @include mobileToLeptop{
                    display: none;
                }
            }
            .menu-item-container{
                visibility: hidden;
                background-color: #fff;
                height: auto;
                position: absolute;
                top: 8rem;
                max-width: 1135px;
                z-index: 9;
                transition:  all 0.3s ease-out;
                box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
                left: 0;
                right: 0;
                margin: 0px auto;
                opacity: 0;
                padding: 21px 6px 25px 6px;

                @include mobileToLeptop{
                    position: relative;
                    top: 0rem;
                    display: none;
                    box-shadow: unset;
                    padding: 21px 0px 25px 0px;
                    
                }

                .col-lg-3{
                    flex: 0 0 25%;
                    max-width: 25%;

                    @include mobileToLeptop{
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
            }
            .single_menu_navbar{
                left: unset;
                right: unset;
                width: 290px !important;
                margin-left: -3rem;
                @include mobileToLeptop{
                    margin-left: 0rem;
                }
            }
            .menu-item-container{
                ul.double_ulicol3{
                    border-bottom: 1px solid #EAEAEC;
                    padding-bottom: 13px;
                    margin-bottom: 13px;

                    @include mobileToLeptop{
                        border-bottom: 0;
                    }
                }
                ul {
                   
                    p{
                        font-size: $Fontsize14 + 1px;
                        text-transform: capitalize;
                        margin: 0px 0px 10px 0px;
                        font-weight: 500;
                        color: #fb56c1;
                        line-height: normal;
                    }

                    li{
                        margin: 0px 0px 6px 0px;
                        display: block;
                        cursor: pointer;
                        line-height: normal;
                        a{
                            font-weight: 400;
                            color: #000;
                            font-size: 14px;
                            text-transform: capitalize;
                            &:hover{
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }

    .nav-collsaped{
        position: fixed !important;
        background-color: black;
        left: 0 !important;
        transition: 0.5s;
    }

    .overlay{
        display: none;
        z-index: -1;
        position: fixed;
        left: 0;
        top: 50px;
        background-color: rgba(0,0,0,0);
        transition: 5s;
    }

    
    .body-overlay{
        background-color: rgba(0,0,0,0.5);
        display: inline !important;
        transition: 5s;
    }
    
    
    @include mobileToLeptop {
        .navigation-list{
            height: 100%;
            position: fixed;
            left: -300px;
            top:0;
            width: 265px;
            transition: 600ms cubic-bezier(.42, 0, 0, .99);
            overflow-x: hidden;

            li{
                display: block;
            }
        }

        .overlay{
            width: 100%;
            height: 100%;
        }

        .activeNavbarXS{
            left: 0;
            background: #fff;
            box-shadow: 3px 10px 5px 2px rgba(0, 0, 0, 0.05);
            z-index: 99;
            // padding: 1rem 1rem 0rem 1rem;

            li{
                line-height: normal;
                margin: 0px 0px 15px 0px;
                padding: 0px 12px 10px 15px;
                a{
                    font-size: $Fontsize14;
                }
            }
        }
    }
    
    .user_profileFormobile{
        background: #3f3947;
        padding-top: 12px !important;
        display: none !important;
        @include mobileToLeptop {
            display: block !important;
        }
            div{
                width: 60px;
                height: 60px;
                background: #fff;
                border-radius: 10px;
                text-align: center;
                    img{
                        object-fit: cover;
                        width: 100%;
                        height: auto;
                    }
            }

            span{
                color : #fff;
                display: block;
                font-weight: 500;
                margin-top: 14px;
                    i{
                        float: right;
                        padding-right: 10px;
                    }
            }
            button{
                @include Btn_noProperty;
                position: absolute;
                right: 10px;
                top: 4px;
                color: #fff;
                font-size: 22px;
            }
    }

    .overlay_body-sidebar{
        position: fixed;
        background: rgba(0,0,0,.4);
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
        opacity: 3;
    }
}
// change toggle button

