<header>
    <div class="container">
        <div class="row_Top_header">
            <button class="toggle_sideNabar" (click)="sidebarmenuXs()">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
            </button>
            <div class="header_search">
                <div class="seachIconinput">
                    <a href="">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                    <input type="text"  placeholder="Type here to search">
                </div>
            </div>
            <div class="header_mid_logo">
                <img class="img-fluid" [src]="header_logourl">
            </div>
            <div class="header_right_avtar_menu">
                <div class="header_account_menu">
                    <ul>
                        <li>
                            INR
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </li>
                        <li class="searchBTnMobile">
                            <button *ngIf="serachActiveInput; else showsearchinput"  (click)="searchBtnclick()" type="button">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                            <ng-template #showsearchinput>
                                <div class="mobileview_searchHeaer">
                                    <button type="button" (click)="closeInputSearchHead()">
                                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                    </button>
                                    <input type="text" placeholder="Search for brands & products">
                                    <span>
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </ng-template>
                            
                        </li>
                        <li>
                            <a>
                                <span class="hidden-tablet">Account</span>
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="hidden-tablet">My Bag</span>
                                <span>
                                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end Top header part  -->

<!-- start  navbar -->
<nav>
    <div class="navigation-list" [class.activeNavbarXS]="IsactiveNavbarXS">
        <ul class="list-unstyled">
            <li class="user_profileFormobile">
                <div>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/12/User_icon_2.svg" alt="user-image">
                </div>
                <span>
                    Kalpesh
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <button (click)="close_sidebarmobile()" type="button">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </li>
            
            <li>
                <a routerLink='/whatNewProduct'>
                    What new
                </a>
            </li>
            <li class="uti_mainLi">
                <a>
                    women
                </a>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <!-- start dropdown menu -->
            
                <div class="dropdown-box menu-item-container full_width_div">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">
                                    <ul>
                                        <p>Sarees</p>
                                        <li><a  routerLink="/women_section">Designer Sarees</a></li>
                                        <li><a>Party Wear Sarees</a></li>
                                        <li><a>Celebrity Inspired Sarees</a></li>
                                        <li><a>Designer Silk Sarees</a></li>
                                        <li><a>Casual Sarees</a></li>
                                        <li><a>Plain Sarees</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-12">
                                    <ul>
                                        <p>Salwar Suits</p>
                                        <li><a>Designer Salwar Kameez</a></li>
                                        <li><a>Anarkali Dresses</a></li>
                                        <li><a>Celebrity Salwar Kameez</a></li>
                                        <li><a>Patiala Salwar Kameez</a></li>
                                        <li><a>Palazzo Suits</a></li>
                                        <li><a>Casual Salwar Kameez</a></li>
                                        <li><a>Readymade Dresses</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-12">
                                    <ul class="double_ulicol3">
                                        <p>Lehengas</p>
                                        <li><a>Designer Lehengas</a></li>
                                        <li><a>Bridal Lehenga Choli</a></li>
                                    </ul>
                                    <ul>
                                        <p>Bottoms</p>
                                        <li><a>Skirts</a></li>
                                        <li><a>Palazzos</a></li>
                                        <li><a>Patialas</a></li>
                                        <li><a>Leggings</a></li>
                                        <li><a>Combos</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-12">
                                    <ul class="double_ulicol3">
                                        <p>Designer's Choice</p>
                                        <li><a>Blouses</a></li>
                                        <li><a>Gowns</a></li>
                                    </ul>
                                    <ul>
                                        <p>Kurtis</p>
                                        <li><a>Designer Kurtis</a></li>
                                    </ul>
                                    <ul>
                                        <p>Kurtis</p>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="mainmenu_overlay"></div>
            <!-- end dropdown menu -->
            </li>
            <li class="uti_mainLi">
                <a>
                    men
                </a>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <!-- start dropdown menu -->
                <div class="dropdown-box menu-item-container single_menu_navbar">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul>
                                        <p>Sarees</p>
                                        <li><a>Designer Sarees</a></li>
                                        <li><a>Party Wear Sarees</a></li>
                                        <li><a>Celebrity Inspired Sarees</a></li>
                                        <li><a>Designer Silk Sarees</a></li>
                                        <li><a>Casual Sarees</a></li>
                                        <li><a>Plain Sarees</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="mainmenu_overlay"></div>
                <!-- end dropdown menu -->
            </li>
            <li>
                <a>
                    jewellery
                </a>
            
            </li>
            <li>
                <a>
                    handloom collection
                </a>
            
            </li>
            <li>
                <a>
                    ready to ship
                </a>
            </li>
            <li>
                <a>
                    What new
                </a>
            </li>
        </ul>
        
    </div>
    
    <div (click)="outside_close_sidebar()" [class.overlay_body-sidebar]="Isoverside">
    </div>
</nav>

<!-- end navbar -->
