<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="border_up_text-social_input width_55p">
                    <div class="border_up_text">
                        <p>
                            <span>
                                join the conversation
                            </span>
                        </p>
                    </div>
                    <div class="reach_social_icon">
                        <a href="">
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-pinterest-square" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="border_up_text-social_input">
                    <div class="border_up_text  width_75p">
                        <p>
                            <span>
                                JOIN THE Uti handloom
                            </span>
                        </p>
                    </div>
                    <div class="input_withBtn">
                         <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Enter Your Email Address">
                            <div class="input-group-append">
                                <button type="button" class="input-group-text">@example.com</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="delivery_card_flex">
            <div class="card_about_deliver">
                <p>
                    Custom Tailoring Services
                </p>
            </div>
            <div class="card_about_deliver">
                <p>
                    Handpicked Quality Products
                </p>
            </div>
            <div class="card_about_deliver">
                <p>
                    Pocket Friendly Prices
                </p>
            </div>
        </div>
        <div class="popual_search">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2>
                            <span>
                                POPULAR SEARCHES
                            </span>
                        </h2>
                        <div class="popualSearchTag">
                            <a href="">Dresses For Girls</a>
                            <a href="">Handbags</a>
                            <a href="">Bags</a>
                            <a href="">Earrings</a>
                            <a href="">Eye Makeup</a>
                            <a href="">Lehenga</a>
                            <a href="">T-Shirt</a>
                            <a href="">Shirt</a>
                            <a href="">Jeans</a>
                            <a href="">Top</a>
                            <a href="">Dresses For Girls</a>
                            <a href="">Handbags</a>
                            <a href="">Bags</a>
                            <a href="">Earrings</a>
                            <a href="">Eye Makeup</a>
                            <a href="">Lehenga</a>
                            <a href="">T-Shirt</a>
                            <a href="">Shirt</a>
                            <a href="">Jeans</a>
                            <a href="">Top</a>
                            <a href="">Shirt</a>
                            <a href="">Jeans</a>
                            <a href="">Top</a>
                            <a href="">Dresses For Girls</a>
                            <a href="">Handbags</a>
                            <a href="">Bags</a>
                            <a href="">Earrings</a>
                            <a href="">Eye Makeup</a>
                            <a href="">Lehenga</a>
                            <a href="">T-Shirt</a>
                            <a href="">Shirt</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="end_footerMenu">
            <div class="row">
                <div class="col-lg-4">
                    <div class="endFooter_listMenu">
                        <h4>UTI HANDLOOM</h4>
                        <ul class="count2">
                            <li>
                                <a href="">About Utihandloom.com</a>
                            </li>
                            <li>
                                <a href="">Contact Utihandloom.com</a>
                            </li>
                            <li>
                                <a href="">Indian Clothing Worldwide</a>
                            </li>
                            <li>
                                <a href="">FAQs</a>
                            </li>
                            <li>
                                <a href="">Testimonials</a>
                            </li>
                            <li>
                                <a href="">Knowledge Base</a>
                            </li>
                            <li>
                                <a href="">Coupon Partners</a>
                            </li>
                            <li>
                                <a href="">Blog</a>
                            </li>
                        </ul>
                    </div>
                </div>
                 <div class="col-lg-2">
                    <div class="endFooter_listMenu">
                        <h4>SHOP</h4>
                        <ul>
                            <li>
                                <a href="">Sarees</a>
                            </li>
                            <li>
                                <a href="">Salwar Suits</a>
                            </li>
                            <li>
                                <a href="">Lehengas</a>
                            </li>
                            <li>
                                <a href="">Kurtis</a>
                            </li>
                            <li>
                                <a href="">Accessories</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="endFooter_listMenu">
                        <h4>POLICIES</h4>
                        <ul>
                            <li>
                                <a href="">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="">Return Policy</a>
                            </li>
                            <li>
                                <a href="">Shipping Policy</a>
                            </li>
                            <li>
                                <a href="">Disclaimer</a>
                            </li>
                            <li>
                                <a href="">Terms & Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="endFooter_listMenu">
                        <h4>ACCOUNT</h4>
                        <ul>
                            <li>
                                <a href="">Create an Account</a>
                            </li>
                            <li>
                                <a href="">Login</a>
                            </li>
                            <li>
                                <a href="">Track My Order</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="endFooter_listMenu">
                        <h4>PAYMENT PARTNERS</h4>
                        <ul>
                            <li>
                                <a href="">
                                    <img class="img-fluid" src="assets/images/payment_option.png">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
        </div>
        <div class="any_concernAllright">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h4 class="anyConcernText">
                            In case of any concern,<a href="">Contact Us</a>
                        </h4>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h4 class="allRight2020">
                            © 2020 www.Utihandloom.com. All rights reserved.
                        </h4>
                    </div>
                </div>
            </div>
        
    </div>
</footer>
