@import "src/assets/custome-css/global-variable.scss";

section{
    padding: 0rem 0rem 7rem 0rem;
}
.product_item_ListandZoom{
    display: flex;
    @include mobileToTablete{
        flex-direction: column-reverse;
    }
    .productItem_list{
        flex: 0 0 16%;
        @include tabletToLeptop1024{
            flex: auto;
        }
        @include mobileToTablete{
            flex: auto;
        }
        ul{
            li{
                width: 60px;
                height: 100px;
                margin-bottom: 10px;
                @include mobileToTablete{
                    margin: 0px 6px 0px 0px;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    cursor: pointer;
                }

                
            }

            @include mobileToTablete{
                display: flex;
                margin-top: 15px;
            }
        }
    }

    .productItem_fullImage{
        flex: 0 0 84%;
        @include tabletToLeptop1024{
            margin-left: 10px;
            flex: auto;
        }

        @include mobileToTablete{
            flex: auto;
            margin-left: 0px;
        }
    }
}

.about_prodcut_all_details{
    h5{
        @include text_style(16px,500,#000,capitalize);
        margin-bottom: 12px;
    }

    .code_dispatch_view{
        border: solid #eee;
        border-width: 1px 0 1px 0px;
        padding: 15px 0px;
        .col-lg-4{
            border-right: 1px solid #eee;
        }
        .inside_code_dispatch_view{
            @include mobileToTablete-1{
                margin-bottom: 15px;
            }
            text-align: center;
            i{
                font-size: 20px;
            }
            P{
                margin: 0;
                padding-top: 5px;
                span{
                    .dispatchDay{
                        font-weight: bold;
                        padding: 0;
                    }
                }
                span:nth-child(1){
                    font-size: 13px;
                    font-weight: normal;
                    padding-right: 5px;
                    
                }
                span:nth-child(2){
                    font-size: 13px;
                    font-weight: 500;
                    word-break: break-word;
                    
                }
            }
        }
    }

    .product_with_extraOption{
        margin: 0rem 0  1rem 0;
        .insdieproduct_with_extraOption{
            h4{
                font-size: 16px;
                margin: 0;
                border-bottom: 1px solid #eee;
                margin-bottom: 12px;
                padding-bottom: 12px;
                margin-top: 14px;
                color: #000;
            }
             .extraOptionCheckbox{
                .form-group {
                    display: block;
                    margin-bottom: 12px;
                    input {
                        padding: 0;
                        height: initial;
                        width: initial;
                        margin-bottom: 0;
                        display: none;
                        cursor: pointer;
                    }
                    label {
                        position: relative;
                        cursor: pointer;
                        margin-bottom: 0;
                        font-size: 14px;
                        color: #282c3f;
                        padding-left: 25px;
                        p{
                            margin: 0;
                            display: inline;
                        }
                        &:before{
                            content:'';
                            -webkit-appearance: none;
                            background-color: transparent;
                            border: 1px solid #c3c2c9;
                            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
                            padding: 8px;
                            display: inline-block;
                            position: absolute;
                            vertical-align: middle;
                            cursor: pointer;
                            margin-right: 0px;
                            border-radius: 3px;
                            left: 0;
                            top: 3px;
                        }
                    }
                    input:checked + label:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 5px;
                        left: 6px;
                        width: 6px;
                        height: 11px;
                        border: solid #fff;
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg);
                    }
        
                    input:checked + label:before {
                        background: #ff3f6c;
                        border: 1px solid #ff3f6c;
                    }
                }
            }
        }
    }

    .prodcut_lastPrice_off{
        span{
            margin: 0px 13px 0px 0px;
        }
        span:nth-child(1){
            font-size: 26px;
            font-weight: 500;
            color: #000;
        }
        span:nth-child(2){
            color:#696E79;
            font-size: 21px;
            text-decoration: line-through;
        }
        span:nth-child(3){
            font-weight: 500;
            font-size: 21px;
            color: #FF905A;
        }
    }

    .add_BaG_buynowBTN{
        display: flex;
        margin-top: 1.5rem;
        button{
            flex: 1;
        }
        > button:nth-child(1), > button:nth-child(2){
            @include button-Style(#333,none,15px,15px 10px,#fff,uppercase,500)
        }
        button:nth-child(2){
           background-color: #03a84e !important;
           margin-left: 25px;
        }
    }

    .wishListInquiryNumber{
        border-width: 0px 0 1px 0px;
        margin-top: 3rem;
        .inside_code_dispatch_view{
            cursor: pointer;
            &:focus{
                outline: none !important;
            }
             > i, > img{
                width: 35px;
                font-size: 35px;
            }
            p{
                padding-top: 15px;
            }
        }
    }
}

.offer_onProduct{
    margin-top: 5rem;
    margin-bottom: 2rem;
    h4{
        @include text_style(20px,500,#000,capitalize);
    }
    table{
        tr{
            td{
                font-size: 15px;
                border-bottom: 1px dashed #696E79;
                padding-bottom: 8px;
            }
            td:first-child{
                color: #696E79;
            }
            td:last-child{
                color: #000;
                font-weight: 500;
                padding-left: 20px;
            }
        }
    }
}

