<app-header></app-header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page_pagination">
                    <a routerLink="/">Home</a>
                    <span>/</span>
                    <a routerLink="/">saree</a>
                    <span>/</span>
                    <span>Silk Fabric Green Designer Saree With Weaving Work And Blouse</span>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-sm-6">
  
                <div class="text-center"> 
                <img style="width:80%;min-width: 300px;" class="cloudzoom" alt ="Cloud Zoom small image" id ="zoom1" src="assets/images/slider7.png"
                             title="Cloud Zoom has many configuration options to match the look and feel of your website"
                             data-cloudzoom='
                             zoomImage:"assets/images/slider7.png",
                             zoomSizeMode: "image",
                             tintColor:"#000",
                             tintOpacity:0.25,
                             captionPosition:"bottom",
                             maxMagnification:4,
                             autoInside:750
                             '>
                </div>
                 <span class="gen-spacer"></span>
                 <div class="text-center">
                 <a href="assets/images/slider7.png" class="thumb-link">    
                            <img class="cloudzoom-gallery" width="64" src="assets/images/slider7.png"
                                 title="Cloud Zoom has many configuration options to match the look and feel of your website"
                                 alt ="Cloud Zoom thumb image"
                                 data-cloudzoom='
                                 useZoom:"#zoom1",
                                 image:"assets/images/slider7.png",
                                 zoomImage:"assets/images/slider7.png"'>
                        </a>
        
                        <a href="assets/images/slider1.jpg" class="thumb-link">
                            <img class="cloudzoom-gallery" width="64" src="assets/images/slider1.jpg"
                                 alt ="Cloud Zoom thumb image"
                                 title="Works great with iPad and other touch-enabled devices"
                                 data-cloudzoom='
                                 useZoom:"#zoom1",
                                 image:"assets/images/slider1.jpg",
                                 zoomImage:"assets/images/slider1.jpg"'>
                        </a>
        
                        <a href="assets/images/slider2.jpg">
                            <img class="cloudzoom-gallery"  width="64" src="assets/images/slider2.jpg"
                                 alt ="Cloud Zoom thumb image"
                                 title="Regular free updates and new features with technical support"
                                 data-cloudzoom='
                                 useZoom:"#zoom1",
                                 image:"assets/images/slider2.jpg"
                                 '>
                        </a>
                 </div>
        </div>
        </div> -->
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="product_item_ListandZoom">
                    <div class="productItem_list">
                        <ul>
                            <li>
                                <img src="assets/images/slider7.png">
                            </li>
                            <li>
                                <img src="assets/images/prodcut_item.jpg">
                            </li>
                            <li>
                                <img src="assets/images/sareezoom.jpg">
                            </li>
                            <li>
                                <img src="assets/images/slider2.jpg">
                            </li>
                        </ul>
                    </div>
                    <div class="productItem_fullImage">
                        <img class="img-fluid zoom" id="change_imgsrc" src="assets/images/slider2.jpg">
                    </div>
                </div>
                <div class="offer_onProduct">
                   <h4>Offers</h4> 
                   <table>
                       <tr>
                           <td>
                                15% Off + Extra 25% Off on USD 184
                           </td>
                           <td>
                                Use Code : KNWSS25
                           </td>
                       </tr>
                       <tr>
                           <td>
                                15% Off + Free Shipping on USD 154
                           </td>
                           <td>
                                Use Code : KNWSSFS
                           </td>
                       </tr>
                       <tr>
                           <td>
                                15% Off + Extra 25% Off on USD 184
                           </td>
                           <td>
                                Use Code : KNWSS17
                           </td>
                       </tr>
                   </table>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="about_prodcut_all_details">
                    <h5>
                        Silk Fabric Green Designer Saree With Weaving Work And Blouse 
                    </h5>
                    <div class="code_dispatch_view">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="inside_code_dispatch_view">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    <p>
                                        <span>Product Code :</span>
                                        <span>RKPHT11919A11935D049</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="inside_code_dispatch_view">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    <p>
                                        <span>Dispatch in <span class="dispatchDay">15</span> Working Days</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 borderRight_none0">
                                <div class="inside_code_dispatch_view">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    <p>
                                        <span>Product Viewed :</span>
                                        <span>16</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product_with_extraOption">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="insdieproduct_with_extraOption">
                                    <h4>
                                        BLOUSE STITCHING OPTIONS
                                    </h4>
                                    <div class="extraOptionCheckbox">
                                        <div class="form-group">
                                            <input type="checkbox" id="patterned_designer">
                                            <label for="patterned_designer">
                                                <p>
                                                    Patterned Designer Blouse+INR 650
                                                </p> 
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <input type="checkbox" id="fancy_designer">
                                            <label for="fancy_designer">
                                                <p>
                                                    Fancy Designer Blouse (with cups)+INR 900
                                                </p> 
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="insdieproduct_with_extraOption">
                                    <h4>
                                        PETTICOAT
                                    </h4>
                                    <div class="extraOptionCheckbox">
                                        <div class="form-group">
                                            <input type="checkbox" id="cotton_petticoat">
                                            <label for="cotton_petticoat">
                                                <p>
                                                    Cotton Petticoat + INR 350
                                                </p> 
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <input type="checkbox" id="shimmer_heavy">
                                            <label for="shimmer_heavy">
                                                <p>
                                                    Shimmer/Heavy material Petticoat + INR 400
                                                </p> 
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="insdieproduct_with_extraOption">
                                    <h4>
                                        FALL & EDGING
                                    </h4>
                                    <div class="extraOptionCheckbox">
                                        <div class="form-group">
                                            <input type="checkbox" id="fall_edging">
                                            <label for="fall_edging">
                                                <p>
                                                    Fall & Edging + INR 120
                                                </p> 
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="insdieproduct_with_extraOption">
                                    <h4>
                                        PETTICOAT
                                    </h4>
                                    <div class="extraOptionCheckbox">
                                        <div class="form-group">
                                            <input type="checkbox" id="Pre-stitched">
                                            <label for="Pre-stitched">
                                                <p>
                                                    Pre-stitched saree+INR 900
                                                </p> 
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prodcut_lastPrice_off">
                        <span>Rs. 1375</span>
                        <span>Rs. 2499</span>
                        <span>(45% OFF)</span>
                    </div>
                    <div class="add_BaG_buynowBTN">
                        <button type="button">add to bag</button>
                        <button type="button">buy now</button>
                    </div>
                    <div class="code_dispatch_view wishListInquiryNumber">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <div class="inside_code_dispatch_view">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    <p>
                                       Add to Wishlist
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <div class="inside_code_dispatch_view">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <p>
                                        Product Inquiry
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 borderRight_none0">
                                <div class="inside_code_dispatch_view">
                                    <img src="assets/images/whatsapp.svg">
                                    <p>
                                        +919099909990
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>