<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page_pagination">
                <a routerLink="/">Home</a>
                <span>/</span>
                <span>WHATS NEW</span>
            </div>
        </div>
    </div>
</div>

<!-- start for women -->
<section class="owl-carousel-saree whatsNewcarousel">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="heading_bold_lightText">
                        <p>WOMEN</p>
                    </div>
                </div>
            </div>
            <div class="carousel-wrap">
                <div class="owl-carousel">
                    <div class="item">
                        <div class="slider_img">
                            <a routerLink="/product_details">
                                <div class="img">
                                    <img src="assets/images/slider1.jpg">
                                </div>
                                <h6 class="h6_textAboutnewProdcut">
                                    babu Silk Fabric Green Designer Saree With Weaving Work And Blouse
                                </h6>
                            </a>
                            <div class="sliderImgContent">
                                <p>
                                    <span>INR 3,401</span>
                                    <span>INR 2,198</span>
                                </p>
                                <p>(15% off)</p>
                                <p>
                                    <a href="">
                                        <img src="assets/images/whatsapp.svg">
                                        inquire now
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end first -->
                    <div class="item">
                        <div class="slider_img">
                            <a routerLink="/product_details">
                                <div class="img">
                                    <img src="assets/images/slider2.jpg">
                                </div>
                                <h6 class="h6_textAboutnewProdcut">
                                    Silk Fabric Green Designer Saree With Weaving Work And Blouse
                                </h6>
                            </a>
                            <div class="sliderImgContent">
                                <p>
                                    <span>INR 3,401</span>
                                    <span>INR 2,198</span>
                                </p>
                                <p>(15% off)</p>
                                <p>
                                    <a href="">
                                        <img src="assets/images/whatsapp.svg">
                                        inquire now
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end second -->
                    <div class="item">
                        <div class="slider_img">
                            <a routerLink="/product_details">
                                <div class="img">
                                    <img src="assets/images/slider3.jpg">
                                </div>
                                <h6 class="h6_textAboutnewProdcut">
                                    Silk Fabric Green Designer Saree With Weaving Work And Blouse
                                </h6>
                            </a>
                            <div class="sliderImgContent">
                                <p>
                                    <span>INR 3,401</span>
                                    <span>INR 2,198</span>
                                </p>
                                <p>(15% off)</p>
                                <p>
                                    <a href="">
                                        <img src="assets/images/whatsapp.svg">
                                        inquire now
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end third -->
                    <div class="item">
                        <div class="slider_img">
                            <a routerLink="/product_details">
                                <div class="img">
                                    <img src="assets/images/slider4.jpg">
                                </div>
                                <h6 class="h6_textAboutnewProdcut">
                                    Silk Fabric Green Designer Saree With Weaving Work And Blouse
                                </h6>
                            </a>
                            <div class="sliderImgContent">
                                <p>
                                    <span>INR 3,401</span>
                                    <span>INR 2,198</span>
                                </p>
                                <p>(15% off)</p>
                                <p>
                                    <a href="">
                                        <img src="assets/images/whatsapp.svg">
                                        inquire now
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end four -->
                    <div class="item">
                        <div class="slider_img">
                            <a routerLink="/product_details">
                                <div class="img">
                                    <img src="assets/images/slider5.jpg">
                                </div>
                                <h6 class="h6_textAboutnewProdcut">
                                    Silk Fabric Green Designer Saree With Weaving Work And Blouse
                                </h6>
                            </a>
                            <div class="sliderImgContent">
                                <p>
                                    <span>INR 3,401</span>
                                    <span>INR 2,198</span>
                                </p>
                                <p>(15% off)</p>
                                <p>
                                    <a href="">
                                        <img src="assets/images/whatsapp.svg">
                                        inquire now
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end five -->
                    <div class="item">
                        <div class="slider_img">
                            <a routerLink="/product_details">
                                <div class="img">
                                    <img src="assets/images/slider6.png">
                                </div>
                                <h6 class="h6_textAboutnewProdcut">
                                    Silk Fabric Green Designer Saree With Weaving Work And Blouse
                                </h6>
                            </a>
                            <div class="sliderImgContent">
                                <p>
                                    <span>INR 3,401</span>
                                    <span>INR 2,198</span>
                                </p>
                                <p>(15% off)</p>
                                <p>
                                    <a href="">
                                        <img src="assets/images/whatsapp.svg">
                                        inquire now
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end six -->
                    <div class="item">
                        <div class="slider_img">
                            <a routerLink="/product_details">
                                <div class="img">
                                    <img src="assets/images/slider7.png">
                                </div>
                                <h6 class="h6_textAboutnewProdcut">
                                    Silk Fabric Green Designer Saree With Weaving Work And Blouse
                                </h6>
                            </a>
                            <div class="sliderImgContent">
                                <p>
                                    <span>INR 3,401</span>
                                    <span>INR 2,198</span>
                                </p>
                                <p>(15% off)</p>
                                <p>
                                    <a href="">
                                        <img src="assets/images/whatsapp.svg">
                                        inquire now
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end seven -->
                </div>
            </div>
        </div>
</section>
<!-- end for man -->
    
<!-- start for man -->

<section class="owl-carousel-saree whatsNewcarousel margin_bottom_7rem">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="heading_bold_lightText">
                        <p>Men</p>
                    </div>
                </div>
            </div>
            <div class="carousel-wrap">
                <div class="owl-carousel">
                    <div class="item">
                        <div class="slider_img">
                            <a routerLink="/product_details">
                                <div class="img">
                                    <img src="assets/images/slider1.jpg">
                                </div>
                                <h6 class="h6_textAboutnewProdcut">
                                    babu Silk Fabric Green Designer Saree With Weaving Work And Blouse
                                </h6>
                            </a>
                            <div class="sliderImgContent">
                                <p>
                                    <span>INR 3,401</span>
                                    <span>INR 2,198</span>
                                </p>
                                <p>(15% off)</p>
                                <p>
                                    <a href="">
                                        <img src="assets/images/whatsapp.svg">
                                        inquire now
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end first -->
                    <div class="item">
                        <div class="slider_img">
                            <a routerLink="/product_details">
                                <div class="img">
                                    <img src="assets/images/slider2.jpg">
                                </div>
                                <h6 class="h6_textAboutnewProdcut">
                                    Silk Fabric Green Designer Saree With Weaving Work And Blouse
                                </h6>
                            </a>
                            <div class="sliderImgContent">
                                <p>
                                    <span>INR 3,401</span>
                                    <span>INR 2,198</span>
                                </p>
                                <p>(15% off)</p>
                                <p>
                                    <a href="">
                                        <img src="assets/images/whatsapp.svg">
                                        inquire now
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end second -->
                    <div class="item">
                        <div class="slider_img">
                            <a routerLink="/product_details">
                                <div class="img">
                                    <img src="assets/images/slider3.jpg">
                                </div>
                                <h6 class="h6_textAboutnewProdcut">
                                    Silk Fabric Green Designer Saree With Weaving Work And Blouse
                                </h6>
                            </a>
                            <div class="sliderImgContent">
                                <p>
                                    <span>INR 3,401</span>
                                    <span>INR 2,198</span>
                                </p>
                                <p>(15% off)</p>
                                <p>
                                    <a href="">
                                        <img src="assets/images/whatsapp.svg">
                                        inquire now
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end third -->
                    <div class="item">
                        <div class="slider_img">
                            <a routerLink="/product_details">
                                <div class="img">
                                    <img src="assets/images/slider4.jpg">
                                </div>
                                <h6 class="h6_textAboutnewProdcut">
                                    Silk Fabric Green Designer Saree With Weaving Work And Blouse
                                </h6>
                            </a>
                            <div class="sliderImgContent">
                                <p>
                                    <span>INR 3,401</span>
                                    <span>INR 2,198</span>
                                </p>
                                <p>(15% off)</p>
                                <p>
                                    <a href="">
                                        <img src="assets/images/whatsapp.svg">
                                        inquire now
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end four -->
                    <div class="item">
                        <div class="slider_img">
                            <a routerLink="/product_details">
                                <div class="img">
                                    <img src="assets/images/slider5.jpg">
                                </div>
                                <h6 class="h6_textAboutnewProdcut">
                                    Silk Fabric Green Designer Saree With Weaving Work And Blouse
                                </h6>
                            </a>
                            <div class="sliderImgContent">
                                <p>
                                    <span>INR 3,401</span>
                                    <span>INR 2,198</span>
                                </p>
                                <p>(15% off)</p>
                                <p>
                                    <a href="">
                                        <img src="assets/images/whatsapp.svg">
                                        inquire now
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end five -->
                    <div class="item">
                        <div class="slider_img">
                            <a routerLink="/product_details">
                                <div class="img">
                                    <img src="assets/images/slider6.png">
                                </div>
                                <h6 class="h6_textAboutnewProdcut">
                                    Silk Fabric Green Designer Saree With Weaving Work And Blouse
                                </h6>
                            </a>
                            <div class="sliderImgContent">
                                <p>
                                    <span>INR 3,401</span>
                                    <span>INR 2,198</span>
                                </p>
                                <p>(15% off)</p>
                                <p>
                                    <a href="">
                                        <img src="assets/images/whatsapp.svg">
                                        inquire now
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end six -->
                    <div class="item">
                        <div class="slider_img">
                            <a routerLink="/product_details">
                                <div class="img">
                                    <img src="assets/images/slider7.png">
                                </div>
                                <h6 class="h6_textAboutnewProdcut">
                                    Silk Fabric Green Designer Saree With Weaving Work And Blouse
                                </h6>
                            </a>
                            <div class="sliderImgContent">
                                <p>
                                    <span>INR 3,401</span>
                                    <span>INR 2,198</span>
                                </p>
                                <p>(15% off)</p>
                                <p>
                                    <a href="">
                                        <img src="assets/images/whatsapp.svg">
                                        inquire now
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end seven -->
                </div>
            </div>
        </div>
</section>

<!-- end for man -->
<app-footer></app-footer>
