$color_text : #000;
$Fontsize14 : 14px;
$widthcstm : 12px;
$bgF5F5F6 : #F5F5F6;
$input_color :#696E79;
$bg_green: #344d25;
$bg_red: #d00000;


@mixin headingBoldLightText {
    h1,h2,h3,h4,h5{
        color:$color_text;
        margin: 0;
        font-weight: bold;
        font-size: $Fontsize14 + 8px;
        text-align: center;
        text-transform: uppercase;
    }
    p{
        @extend  h1,h2,h3,h4,h5;
        font-weight: normal;
        font-size: $Fontsize14 + 6px;
        padding-top: 2px;
    }
}

@mixin  ancorTag {
    text-decoration: unset;
    &:hover{
        color:inherit
    }
}

@mixin color_blackFont18{
    color: $color_text;
    font-size: $Fontsize14 + 4px;
}

@mixin  eledisplay_flex {
    display: flex;
}

@mixin  inputTextareacomCss {
    outline: none;
    box-shadow: none;
    resize: none;
}

@mixin Btn_noProperty {
    outline: none;
    border: 0;
    background: none;
    border:0;
}


/* carousel inside text and image */


@mixin carousel_inside_textImg{
    .slider_img{
        .sliderImgContent{
            p{
            text-align: center;
            font-size: $Fontsize14 + 2px;
            margin: 0px 0px 8px 0px;
            }
            & p:nth-child(1){
                color: $color_text;
                span{
                    &:nth-child(1){
                        text-decoration-line: line-through; 
                    }
                    margin: 0px 0px 0px 15px;
                }
            }
            & p:nth-child(2){
                color: $bg_red;
            }
    
            & p:nth-child(3){
                a{
                    @include ancorTag;
                    color: $bg_green;
                    text-transform: uppercase;
                    margin: 0px 0px 0px 0px;
                    img{
                        width: 1.2rem;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

@mixin carousel_wrap_common {
    .carousel-wrap{
       .owl-carousel .item {
            position: relative;
            z-index: 100; 
        }

        .owl-nav > div {
            margin-top: -26px;
            position: absolute;
            top: 50%;
            color: #cdcbcd;

            i{
              font-size: 52px;
            }
            .owl-prev {
                left: -30px;
            }
            .owl-next {
                right: -30px;
            }
        }
     }
}

@mixin  prodcutheadTextellipsis {
    color: #000;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    margin-bottom: 5px;
    @include mobileToTablete{
        padding: 0 4px;
    }
}

/* carouserl slider */

@mixin display_flex_responsive {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
}

@mixin item_display_flex_33p {
    width: 22.1%;
    margin: 0px 15px 45px 0px;

    @include tabletToLeptop-1{
        width: 46%;
    }

    @include mobileToTablete{
        width: 50%;
        margin: 0px 0 45px 0px;
        border: 1px solid #eee;
    }

}


@mixin button-Style($btnBg,$borderbtn,$fontSizebtn,$paddingBtn,$colorBtn,$text_text-transform,$fontWeightText) {
    background:$btnBg;
    border: $borderbtn;
    font-size: $fontSizebtn;
    padding: $paddingBtn;
    color: $colorBtn;
    text-transform: $text_text-transform;
    font-weight: $fontWeightText;
}

@mixin text_style($fontsizetext,$fontWeightText,$colorText,$text_text-transform) {
    font-size: $fontsizetext;
    font-weight: $fontWeightText;
    color: $colorText;
    text-transform: $text_text-transform;
}


/* media query */
$mobile320: 320px;
$mobile425: 425px;
$mobile481: 481px;
$tablet768: 768px;
$tablet992: 992px;
$desktop1024: 1024px;
$desktop1200: 1200px;
$desktop1600: 1600px;
$desktop1610px: 1610px;
$desktop2600: 2600px;


@mixin mobile {
    @media (min-width:#{$mobile320}) and (max-width: #{$mobile425 - 1px}) {
        @content;
    }
}


@mixin mobile481 {
    @media (min-width:#{$mobile425}){
        @content;
    }
}


@mixin tablet768 {
    @media (min-width:#{$tablet768}){
        @content;
    }
}


@mixin tablet992 {
    @media (min-width:#{$tablet992})  {
        @content;
    }
}


@mixin laptop1024 {
    @media (min-width:#{$desktop1024}){
        @content;
    }
}



@mixin destop12_16 {
    @media (min-width:#{$desktop1200}) {
        @content;
    }
}

@mixin destop16_26 {

    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
      }

}


@mixin mobileToTablete {
    @media (min-width: #{$mobile320}) and (max-width: #{$tablet768}) {
        @content;
      }
}

@mixin mobileToLgmobile {
    @media (min-width: #{$mobile320}) and (max-width: #{$mobile481}) {
        @content;
      }
}

@mixin mobileToLeptop {
    @media (min-width: #{$mobile320}) and (max-width: #{$desktop1024 - 1px}) {
        @content;
      }
}

@mixin leptopToFullDesk {
    @media (min-width: #{$desktop1024}) and (max-width: #{$desktop2600}) {
        @content;
      }
}


@mixin mobileToTablete-1 {
    @media (min-width: #{$mobile320}) and (max-width: #{$tablet768 - 1px}) {
        @content;
      }
}


@mixin tabletToLeptop-1 {
    @media (min-width: #{$tablet768}) and (max-width: #{$desktop1024 - 1px}) {
        @content;
      }
}


@mixin tabletToLeptop1024 {
    @media (min-width: #{$tablet768}) and (max-width: #{$desktop1024}) {
        @content;
      }
}

@mixin mobileToLeptop1024 {
    @media (min-width: #{$mobile320}) and (max-width: #{$desktop1024}) {
        @content;
      }
}

