@import "src/assets/custome-css/global-variable.scss";


.filter_sideBar{
    .topFilerClear{
        margin-bottom: 1rem;
        span{
            @include text_style(18px,bold,#000,uppercase)
        }
        button{
           float: right;
            @include button-Style(none,none,14px,0,red,uppercase,500)
        }
    }
    .filter_box{
        border: 1px solid #e6e7e8;
        h5{
            @include text_style(14px,500,#000,uppercase);
            margin-bottom: 14px;
        }
        .filter_checkbox{
            padding: 20px 0px 16px 14px;
            border-bottom: 1px solid #e6e7e8;
            form{
                .form-group {
                    display: block;
                    margin-bottom: 7px;
                    input {
                        padding: 0;
                        height: initial;
                        width: initial;
                        margin-bottom: 0;
                        display: none;
                        cursor: pointer;
                    }
                    label {
                        position: relative;
                        cursor: pointer;
                        margin-bottom: 0;
                        font-size: 16px;
                        color: #282c3f;
                        span{
                            color: #94969f !important;
                            font-size: 14px !important;
                            margin-left: 3px;
                        }
                        p{
                            margin: 0;
                            display: inline;
                        }
                        &:before{
                            content:'';
                            -webkit-appearance: none;
                            background-color: transparent;
                            border: 1px solid #c3c2c9;
                            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
                            padding: 8px;
                            display: inline-block;
                            position: relative;
                            vertical-align: middle;
                            cursor: pointer;
                            margin-right: 8px;
                            border-radius: 3px;
                        }
                    }
                    input:checked + label:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 7px;
                        left: 6px;
                        width: 6px;
                        height: 11px;
                        border: solid #fff;
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg);
                    }

                    input:checked + label:before {
                        background: #ff3f6c;
                        border: 1px solid #ff3f6c;
                    }
                }
            }
        }
    }

    .choose_color_filter{
        .color_circle{
            display: inline-block;
            padding: 8px;
            border-radius: 50%;
            position: relative;
            top: 2px;
            margin-right: 8px;
            left: 0px;
            margin-left: 0 !important;
        }
        .black{
            background:rgb(54, 69, 79);
        }
        .Brown{
            background: rgb(145, 80, 57);
        }
        .green{
            background: rgb(61, 153, 112);
        }
    }

    .more_colorFiler{
        @include button-Style(none,none,14px,0,red,uppercase,500)
    }
}

::ng-deep{
    .custom-Priceslider{
        padding-right: 12px;
        .ng5-slider{
            .ng5-slider-pointer{
                background: #ff3f6c;
                outline: none !important;
                width: 26px;
                height: 26px;
                top: -12px;
                &:after,&:hover{
                    background: #ff3f6c !important;
                }
            }

            .ng5-slider-bubble{
                color:#000;
            }
        }
    }
}

