<app-header></app-header>
<section>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page_pagination">
                    <a routerLink="/">Home</a>
                    <span>/</span>
                    <span>Women</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <h5 class="how_many_productCount">
                    <span class="title">Saree - </span>
                    <span class="title_count">61442 items</span>
                </h5>
                
                <!-- strat item image and content -->
                <div class="item_flex_all_product">
                    <div class="section_image_text_product">
                        <div class="item">
                            <div class="slider_img">
                                <a routerLink="/product_details">
                                    <div class="img">
                                        <img title="image" class="img-fluid" src="assets/images/slider1.jpg">
                                    </div>
                                    <h6 class="h6_textAboutnewProdcut">
                                        Silk Fabric Green Designer Saree With Weaving Work And Blouse
                                    </h6>
                                </a>
                                <div class="sliderImgContent">
                                    <p>
                                        <span>INR 3,401</span>
                                        <span>INR 2,198</span>
                                    </p>
                                    <p>(15% off)</p>
                                    <p>
                                        <a href="">
                                            <img src="assets/images/whatsapp.svg">
                                            inquire now
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end first -->
                    <div class="section_image_text_product">
                        <div class="item">
                            <div class="slider_img">
                                <a routerLink="/product_details">
                                    <div class="img">
                                        <img title="image" class="img-fluid" src="assets/images/slider1.jpg">
                                    </div>
                                    <h6 class="h6_textAboutnewProdcut">
                                        Silk Fabric Green Designer Saree With Weaving Work And Blouse
                                    </h6>
                                </a>
                                <div class="sliderImgContent">
                                    <p>
                                        <span>INR 3,401</span>
                                        <span>INR 2,198</span>
                                    </p>
                                    <p>(15% off)</p>
                                    <p>
                                        <a href="">
                                            <img src="assets/images/whatsapp.svg">
                                            inquire now
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end first -->
                    <div class="section_image_text_product">
                        <div class="item">
                            <div class="slider_img">
                                <a routerLink="/product_details">
                                    <div class="img">
                                        <img title="image" class="img-fluid" src="assets/images/slider1.jpg">
                                    </div>
                                    <h6 class="h6_textAboutnewProdcut">
                                        Silk Fabric Green Designer Saree With Weaving Work And Blouse
                                    </h6>
                                </a>
                                <div class="sliderImgContent">
                                    <p>
                                        <span>INR 3,401</span>
                                        <span>INR 2,198</span>
                                    </p>
                                    <p>(15% off)</p>
                                    <p>
                                        <a href="">
                                            <img src="assets/images/whatsapp.svg">
                                            inquire now
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end first -->
                    <div class="section_image_text_product">
                        <div class="item">
                            <div class="slider_img">
                                <a routerLink="/product_details">
                                    <div class="img">
                                        <img title="image" class="img-fluid" src="assets/images/slider1.jpg">
                                    </div>
                                    <h6 class="h6_textAboutnewProdcut">
                                        Silk Fabric Green Designer Saree With Weaving Work And Blouse
                                    </h6>
                                </a>
                                <div class="sliderImgContent">
                                    <p>
                                        <span>INR 3,401</span>
                                        <span>INR 2,198</span>
                                    </p>
                                    <p>(15% off)</p>
                                    <p>
                                        <a href="">
                                            <img src="assets/images/whatsapp.svg">
                                            inquire now
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end first -->
                     <!-- end first -->
                    <div class="section_image_text_product">
                        <div class="item">
                            <div class="slider_img">
                                <a routerLink="/product_details">
                                    <div class="img">
                                        <img title="image" class="img-fluid" src="assets/images/slider1.jpg">
                                    </div>
                                    <h6 class="h6_textAboutnewProdcut">
                                        Silk Fabric Green Designer Saree With Weaving Work And Blouse
                                    </h6>
                                </a>
                                <div class="sliderImgContent">
                                    <p>
                                        <span>INR 3,401</span>
                                        <span>INR 2,198</span>
                                    </p>
                                    <p>(15% off)</p>
                                    <p>
                                        <a href="">
                                            <img src="assets/images/whatsapp.svg">
                                            inquire now
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end first -->
                     <!-- end first -->
                    <div class="section_image_text_product">
                        <div class="item">
                            <div class="slider_img">
                                <a routerLink="/product_details">
                                    <div class="img">
                                        <img title="image" class="img-fluid" src="assets/images/slider1.jpg">
                                    </div>
                                    <h6 class="h6_textAboutnewProdcut">
                                        Silk Fabric Green Designer Saree With Weaving Work And Blouse
                                    </h6>
                                </a>
                                <div class="sliderImgContent">
                                    <p>
                                        <span>INR 3,401</span>
                                        <span>INR 2,198</span>
                                    </p>
                                    <p>(15% off)</p>
                                    <p>
                                        <a href="">
                                            <img src="assets/images/whatsapp.svg">
                                            inquire now
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end first -->
                    <!-- end first -->
                    <div class="section_image_text_product">
                        <div class="item">
                            <div class="slider_img">
                                <a routerLink="/product_details">
                                    <div class="img">
                                        <img title="image" class="img-fluid" src="assets/images/slider1.jpg">
                                    </div>
                                    <h6 class="h6_textAboutnewProdcut">
                                        Silk Fabric Green Designer Saree With Weaving Work And Blouse
                                    </h6>
                                </a>
                                <div class="sliderImgContent">
                                    <p>
                                        <span>INR 3,401</span>
                                        <span>INR 2,198</span>
                                    </p>
                                    <p>(15% off)</p>
                                    <p>
                                        <a href="">
                                            <img src="assets/images/whatsapp.svg">
                                            inquire now
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end first -->
                    <div class="section_image_text_product">
                        <div class="item">
                            <div class="slider_img">
                                <a routerLink="/product_details">
                                    <div class="img">
                                        <img title="image" class="img-fluid" src="assets/images/slider1.jpg">
                                    </div>
                                    <h6 class="h6_textAboutnewProdcut">
                                        Silk Fabric Green Designer Saree With Weaving Work And Blouse
                                    </h6>
                                </a>
                                <div class="sliderImgContent">
                                    <p>
                                        <span>INR 3,401</span>
                                        <span>INR 2,198</span>
                                    </p>
                                    <p>(15% off)</p>
                                    <p>
                                        <a href="">
                                            <img src="assets/images/whatsapp.svg">
                                            inquire now
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end first -->
                    <div class="section_image_text_product">
                        <div class="item">
                            <div class="slider_img">
                                <a routerLink="/product_details">
                                    <div class="img">
                                        <img title="image" class="img-fluid" src="assets/images/slider1.jpg">
                                    </div>
                                    <h6 class="h6_textAboutnewProdcut">
                                        Silk Fabric Green Designer Saree With Weaving Work And Blouse
                                    </h6>
                                </a>
                                <div class="sliderImgContent">
                                    <p>
                                        <span>INR 3,401</span>
                                        <span>INR 2,198</span>
                                    </p>
                                    <p>(15% off)</p>
                                    <p>
                                        <a href="">
                                            <img src="assets/images/whatsapp.svg">
                                            inquire now
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end first -->
                    <div class="section_image_text_product">
                        <div class="item">
                            <div class="slider_img">
                                <a routerLink="/product_details">
                                    <div class="img">
                                        <img title="image" class="img-fluid" src="assets/images/slider1.jpg">
                                    </div>
                                    <h6 class="h6_textAboutnewProdcut">
                                        Silk Fabric Green Designer Saree With Weaving Work And Blouse
                                    </h6>
                                </a>
                                <div class="sliderImgContent">
                                    <p>
                                        <span>INR 3,401</span>
                                        <span>INR 2,198</span>
                                    </p>
                                    <p>(15% off)</p>
                                    <p>
                                        <a href="">
                                            <img src="assets/images/whatsapp.svg">
                                            inquire now
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end first -->
                    <div class="section_image_text_product">
                        <div class="item">
                            <div class="slider_img">
                                <a routerLink="/product_details">
                                    <div class="img">
                                        <img title="image" class="img-fluid" src="assets/images/slider1.jpg">
                                    </div>
                                    <h6 class="h6_textAboutnewProdcut">
                                        Silk Fabric Green Designer Saree With Weaving Work And Blouse
                                    </h6>
                                </a>
                                <div class="sliderImgContent">
                                    <p>
                                        <span>INR 3,401</span>
                                        <span>INR 2,198</span>
                                    </p>
                                    <p>(15% off)</p>
                                    <p>
                                        <a href="">
                                            <img src="assets/images/whatsapp.svg">
                                            inquire now
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end first -->
                </div>
                <!-- end item image and content -->
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <app-filter-side-bar></app-filter-side-bar>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>