/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
@import "src/assets/custome-css/global-variable.scss";


ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button{
    outline: none !important;
}

.manin_banner_slider{
    .owl-dots{
        text-align: center;
        margin-top: 15px;
        .owl-dot{
            background: #7E818C;
            height: 10px;
            width: 10px;
            opacity: 0.25;
            border-radius: 50%;
            outline: none;
            border: 0;
            margin: 0px 6px 0px 0;
        }
        button.active{
            background: #535766;
            opacity: 0.75;
        }
    }
 }

 .page_pagination{
     margin: 1rem 0rem 1rem 0rem;
    color: #282C3F;
    text-transform: capitalize;
     a{
        color: #282C3F;
        font-size: 14px;
        text-decoration: none;
    }
     span{
        font-weight: 500;
        padding: 0px 0px 0px 10px;
        font-size: 14px;
     }
 }

 a{
     text-decoration: none !important;
 }

 .h6_textAboutnewProdcut{
    @include prodcutheadTextellipsis;
 }

 .item_flex_all_product{
    @include display_flex_responsive;
    .section_image_text_product{
        @include item_display_flex_33p;
    }
}

.section_image_text_product{
    @include carousel_inside_textImg;
    .sliderImgContent{
        p{
            font-size: 14px !important;
            a{
                img{
                    width: 1.5rem !important;
                    display: inline-block;
                    position: relative;
                    top: -2px;
                }
            }
        }
    }
    .heading_bold_lightText{
        p{
            text-align: left;
            font-size: 15px;
        }
    }
    .sliderImgContent{
        p{
            margin: 0px 0px 0px 0px !important;
        }
    }
}

.filter_select_lable{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    span{
        border-radius: 20px;
        border: solid 1px #d4d5d9;
        padding: 3px 6px;
        font-size: 13px;
        margin: 0px 6px 9px 0px;
    }
}

.borderRight_none0{
    border-right: 0 !important;
}

.container{
    @include mobileToLeptop1024{
        max-width: 1025px !important;
    }
}




// 



/* CSS for lens */
.cloudzoom-lens {
    border:5px solid #888;
    width:100px;
    height:100px;
    box-shadow: -0px -0px 10px rgba(0,0,0,0.40);
    cursor:crosshair;
    z-index: 9999;
}
/* CSS for zoom window. */
.cloudzoom-zoom {
    border:1px solid #888;
    width:600px;
    height:200px;
    box-shadow: -0px -0px 10px rgba(0,0,0,0.40);
	z-index: 9999;
}
/* CSS for zoom window in 'inside' mode. */
.cloudzoom-zoom-inside {
    border:none;
    box-shadow:none;
	z-index: 9999;
}

/* CSS for captions */
.cloudzoom-caption {
    display:none;   /* CSS captions should be hidden initially */
    text-align: left;
    background-color:#000;
    color:#fff;
    font-weight:bold;
    padding:10px;
    font-family: sans-serif;
    font-size:11px;
   
}

/* A blank image */
.cloudzoom-blank {
    background-image:url(https://www.starplugins.com/sites/starplugins/js/cloudzoom/blank.png);
}