@import "src/assets/custome-css/global-variable.scss";


 

.Top_saree_dup_dress{
    .display_flex{
        @include eledisplay_flex;
        justify-content: center;
        border-bottom: 1px solid #999;
        padding: 2rem 0rem 2rem 0rem;
        @include  mobileToTablete{
            flex-wrap: wrap;
        }
        .productImg-offerCode{
            margin: 0px 0px 0px 15px;
            @include  mobileToTablete{
                margin: 0px 0px 0px 10px;
                flex: 1;
            }
            @include mobileToLgmobile{
                margin: 0px 0px 0px 0px;
                flex: unset;
            }
        }
        .productImg-offerCode:first-child{
            margin: 0px 0px 0px 0px !important;
        }
    }
    .bg_red{
        background-color: $bg_red !important;
    }
    .copuon_code{
        background-color: $bg_green;
        margin-top: 15px;
        padding: 6px 0px 6px 0px;
        @include mobileToLgmobile{
            margin-bottom: 15px;
        }
        .extra_17{
            margin: 0;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            color:#fff;
            font-size: $Fontsize14;
        }

        & p:nth-child(2){
            @extend .extra_17;
            font-weight: normal;
            span{
                text-transform: capitalize;
            }
        }
    }
}

.owl-carousel-saree{
    padding: 2rem 0rem 0rem 0rem;
    .heading_bold_lightText{
        @include headingBoldLightText;
    }
    @include carousel_inside_textImg;
    @include carousel_wrap_common;
    .carousel-wrap{
        padding-top: 2rem;
    }
}

.cursive_red_text{
    p{
        color: $bg_red;
        font-size: $Fontsize14 + 6px;
        font-weight: 500;
        font-style: oblique;
        text-align: center;
        padding-top: 15px;
    }
}
 
.celebrate_festivity_cloth{
    a{
        margin-bottom: 45px;
        display: block;
        img{
            width: 100%;
        }
    }   
}

.gallary_gried{
    .horizontal_img{
        height: 200px;
        position: relative;
        overflow: hidden;
        @include mobileToLeptop{
            height: auto;
        }
        img{
            position: absolute;
            left: 50%;
            width: 100%;
            height: auto;
            transform: translate(-50%, -50%);

            @include mobileToLeptop{
                position: relative;
                left: unset;
                transform: unset;
           }

        }
    }

    .vertical_img{
        height: 320px;
        overflow: hidden;
        position: relative;
        margin-top: 20px;
        @include mobileToLeptop{
            height: auto;
            margin-bottom: 20px;
        }
    }
}

.uti_home_content{
    .bold_light_content{
        margin:2rem 0;
        @include headingBoldLightText;
        h3{
            font-size: $Fontsize14 + 4px;
            text-transform: capitalize;
        }

        p{
            color: #848484;
            font-size: $Fontsize14 + 1px;
            margin: 15px 0 30px 0;
            text-align: justify;
        }
    }
}
 
  
  
  
