<app-header></app-header>
<section class="manin_banner_slider">
    <div class="carousel-wrap">
        <div class="owl-carousel owl-carousel_1top">
            <div class="item">
                <div class="slider_img">
                    <div class="img">
                        <a href="">
                            <img class="img-fluid" src="assets/images/banner1.png">
                        </a>
                    </div>
                </div>
            </div>
            <!-- end first -->
            <div class="item">
                <div class="slider_img">
                    <div class="img">
                        <a href="">
                            <img class="img-fluid" src="https://www.kalaniketan.com/media/banner/kalaniketan-winter-savings-sale-2020.jpg">
                        </a>
                    </div>
                </div>
            </div>
            <!-- end third -->
        </div>
    </div>
</section>

<section class="Top_saree_dup_dress">
    <div class="container">
        <div class="display_flex">
            <div class="productImg-offerCode">
                <div class="img">
                    <a href="#">
                        <img class="img-fluid" src="assets/images/ear-saree.jpg" alt="saree">
                    </a>
                </div>
                <div class="copuon_code">
                    <p class="extra_17">
                        extra 17% off on usd 85
                    </p>
                    <p>
                        code : 
                        <span>
                            KNWSS17
                        </span>
                    </p>
                </div>
            </div>
            <div class="productImg-offerCode">
                <div class="img">
                    <a href="#">
                        <img class="img-fluid" src="assets/images/ear-saree2.jpg" alt="saree">
                    </a>
                </div>
                <div class="copuon_code bg_red">
                    <p class="extra_17">
                        extra 17% off on usd 85
                    </p>
                    <p>
                        code : 
                        <span>
                            KNWSS17
                        </span>
                    </p>
                </div>
            </div>
            <div class="productImg-offerCode">
                <div class="img">
                    <a href="#">
                        <img class="img-fluid" src="assets/images/ear-saree3.jpg" alt="saree">
                    </a>
                </div>
                <div class="copuon_code">
                    <p class="extra_17">
                        extra 17% off on usd 85
                    </p>
                    <p>
                        code : 
                        <span>
                            KNWSS17
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end second section with coupon code -->
<section class="owl-carousel-saree">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="heading_bold_lightText">
                    <h1>NEW IN</h1>
                    <p>Shop now</p>
                </div>
            </div>
        </div>
        <div class="carousel-wrap">
            <div class="owl-carousel">
                <div class="item">
                    <div class="slider_img">
                        <div class="img">
                            <img src="assets/images/slider1.jpg">
                        </div>
                        <div class="sliderImgContent">
                            <p>
                                <span>INR 3,401</span>
                                <span>INR 2,198</span>
                            </p>
                            <p>(15% off)</p>
                            <p>
                                <a href="">
                                    <img src="assets/images/whatsapp.svg">
                                    inquire now
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end first -->
                <div class="item">
                    <div class="slider_img">
                        <div class="img">
                            <img src="assets/images/slider2.jpg">
                        </div>
                        <div class="sliderImgContent">
                            <p>
                                <span>INR 3,401</span>
                                <span>INR 2,198</span>
                            </p>
                            <p>(15% off)</p>
                            <p>
                                <a href="">
                                    <img src="assets/images/whatsapp.svg">
                                    inquire now
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end second -->
                <div class="item">
                    <div class="slider_img">
                        <div class="img">
                            <img src="assets/images/slider3.jpg">
                        </div>
                        <div class="sliderImgContent">
                            <p>
                                <span>INR 3,401</span>
                                <span>INR 2,198</span>
                            </p>
                            <p>(15% off)</p>
                            <p>
                                <a href="">
                                    <img src="assets/images/whatsapp.svg">
                                    inquire now
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end third -->
                <div class="item">
                    <div class="slider_img">
                        <div class="img">
                            <img src="assets/images/slider4.jpg">
                        </div>
                        <div class="sliderImgContent">
                            <p>
                                <span>INR 3,401</span>
                                <span>INR 2,198</span>
                            </p>
                            <p>(15% off)</p>
                            <p>
                                <a href="">
                                    <img src="assets/images/whatsapp.svg">
                                    inquire now
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end four -->
                <div class="item">
                    <div class="slider_img">
                        <div class="img">
                            <img src="assets/images/slider5.jpg">
                        </div>
                        <div class="sliderImgContent">
                            <p>
                                <span>INR 3,401</span>
                                <span>INR 2,198</span>
                            </p>
                            <p>(15% off)</p>
                            <p>
                                <a href="">
                                    <img src="assets/images/whatsapp.svg">
                                    inquire now
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end five -->
                <div class="item">
                    <div class="slider_img">
                        <div class="img">
                            <img src="assets/images/slider6.png">
                        </div>
                        <div class="sliderImgContent">
                            <p>
                                <span>INR 3,401</span>
                                <span>INR 2,198</span>
                            </p>
                            <p>(15% off)</p>
                            <p>
                                <a href="">
                                    <img src="assets/images/whatsapp.svg">
                                    inquire now
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end six -->
                <div class="item">
                    <div class="slider_img">
                        <div class="img">
                            <img src="assets/images/slider7.png">
                        </div>
                        <div class="sliderImgContent">
                            <p>
                                <span>INR 3,401</span>
                                <span>INR 2,198</span>
                            </p>
                            <p>(15% off)</p>
                            <p>
                                <a href="">
                                    <img src="assets/images/whatsapp.svg">
                                    inquire now
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end seven -->

           
            </div>
        </div>
    </div>
    
    
</section>
<!-- end third section saree slider -->
<section class="Top_saree_dup_dress">
    <div class="container">
        <div class="display_flex">
            <div class="productImg-offerCode">
                <div class="img">
                    <a href="#">
                        <img class="img-fluid" src="assets/images/ear-saree.jpg" alt="saree">
                    </a>
                </div>
                <div class="cursive_red_text">
                    <p>
                        Classy style for your big day !
                    </p>
                </div>
            </div>
            <div class="productImg-offerCode">
                <div class="img">
                    <a href="#">
                        <img class="img-fluid" src="assets/images/ear-saree2.jpg" alt="saree">
                    </a>
                </div>
                <div class="cursive_red_text">
                    <p>
                        Compliment your princess- like autaar !
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end four section two images -->
<section class="celebrate_festivity_cloth">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <a href="#">
                    <img class="img-fluid" src="assets/images/img-text1.png" alt="saree">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <a href="#">
                    <img class="img-fluid" src="assets/images/img-text2.png" alt="saree">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <a href="#">
                    <img class="img-fluid" src="assets/images/img-text1.png" alt="saree">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <a href="#">
                    <img class="img-fluid" src="assets/images/img-text2.png" alt="saree">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <a href="#">
                    <img class="img-fluid" src="assets/images/img-text1.png" alt="saree">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <a href="#">
                    <img class="img-fluid" src="assets/images/img-text1.png" alt="saree">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <a href="#">
                    <img class="img-fluid" src="assets/images/img-text2.png" alt="saree">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <a href="#">
                    <img class="img-fluid" src="assets/images/img-text2.png" alt="saree">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- end five section casual saree -->
<section class="gallary_gried">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="heading_bold_lightText text-center">
                    <h1>CELEBRATE FESTIVITY</h1>
                    <p>Shop Now</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="horizontal_img">
                            <img class="img-fluid" src="assets/images/printed-saree.jpg" alt="image">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="vertical_img">
                            <img class="img-fluid" src="assets/images/store-saree.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="noraml_img">
                    <img class="img-fluid" src="assets/images/slider3.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="uti_home_content">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="bold_light_content">
                    <h3>uti Handloom sarees & Dresses Online Shopping</h3>
                    <p>
                        If you are wondering from where to buy sarees online & looking for the best Indian 
                        clothing shopping store, then Uti Handloom.com is for you. 
                        A venture of KalaDarshan Exports Pvt. Ltd. & managed 
                        by The Ashok Jayantibhai Parekh Group, Uti Handloom is a household name 
                        for the finest collection of Indian ethnic wear since 1942. With roots in Mumbai 
                        (India), we've expanded our wings to countries like United States, Canada, 
                        United Kingdom, Australia, Dubai & New Zealand to satisfy the inner desires of 
                        the fashionista, looking for the latest ethnic wear designs.
                    </p>
                    <p>
                        Being the customer-centric online shopping store, we’ve always focused on 
                        delivering the quality products, which has helped us earned the global 
                        appreciation. Showcasing the widest assortment of fancy sarees, salwar suits,
                        lehenga, kurtis & much more, Uti Handloom.com is your one-stop family shop 
                        offering the designer ethnic wear collection at your doorstep, 
                        in just a single click.
                    </p>
                </div>
                <div class="bold_light_content">
                    <h3>Sarees Online Shopping USA</h3>
                    <p>
                        Indian <a href="">sarees</a> are a symbol of grace and have come a long way. 
                        The 6yards of classy piece of clothing has occupied space in every woman's 
                        closet across the globe. Because of the eternal style, 
                        sarees are the hot favorite outfit option for any occasion be it wedding functions,
                        kitty parties, anniversary parties or festivals (utsav).
                    </p>
                    <p>
                        At Uti Handloom.com, you'll find plethora of latest saree designs in diverse fabrics, 
                        styles, designs and work. Racked with the massive range of traditional silk sarees 
                        for templewear/pujawear, embroidered saris for Indian wedding, <a href="">printed casual sarees</a>
                        for officewear/dailywear, plain sarees with fancy blouses, bollywood celebrity sarees 
                        ollection & the list is endless. Whether you are looking for a banarasi silk saree 
                        with work or bridesmaid sarees or fancy sarees with lace border work, 
                        we have got you covered with our hand-picked sarees collection, at jaw-dropping prices, 
                        in our discount sale.
                    </p>
                    <p>
                        Also, if you are looking for some traditional silk sarees collection including 
                        banarasi silk, uppada silk, bhagalpuri, kanchipuram, cotton silk, 
                        kanjivaram silk, then you'll love shopping Uti's beautiful & stunning silk
                        saree designs, perfect to grab the eyeballs.
                    </p>
                    <p>
                        Apart from offering the finest Indian fashion, we also free shipping to USA, 
                        Canada, UK, Australia, Dubai, New Zealand and many more countries. 
                        What more you can ask for when you can <a href="">buy sarees online</a> in USA/Canada with free 
                        shipping, sitting in the comfort of your sweet home.
                    </p>
                </div>
                <div class="bold_light_content">
                    <h3>Buy Readymade Indian Dresses USA</h3>
                    <p>
                        If you are smitten by the stunning Indian <a href="">salwar suits</a>, then we are sure that you 
                        can't get enough of the latest salwar kameez designs displayed on Uti Handloom.com. 
                        Being the most-loved ethnic attire after sarees, Indian dresses are loved across the 
                        globe because of the comfort factor and their everlasting charm.
                    </p>
                    <p>
                        At Uti Handloom.com, we make sure that you are spoilt with our largest choices in 
                        designer Indian wear suits that includes long floor length anarkali dresses, 
                        straight cut pakistani suits, punjabi churidar dresses, bollywood celebrity 
                        salwar kameez, palazzo bottom salwar kameez in fabrics like georgette, silk, 
                        cotton, net etc. Be it for the wedding function, festive wear or for Eid, there's 
                        suit design available for everyone in readymade, semi-stitched or unstitched material 
                        form.
                    </p>
                    <p>
                        Still waiting? Shop salwar kameez online today in USA/Canada with free shipping in 
                        salwar sale at low prices and outshine yourself.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>